@{
    ViewData["Title"] = "Examples";
}
<p data-height="1000" data-theme-id="0" data-slug-hash="VYbYvQ" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="rainbow rain" class="codepen">
    <a href="https://codepen.io/mars/pen/VYbYvQ/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="jEmWYP" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Image => Particles" class="codepen">
    <a href="https://codepen.io/mars/pen/jEmWYP/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="Apvxe" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Mechanical Grass" class="codepen">
    <a href="https://codepen.io/mars/pen/Apvxe/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="dxFba" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Find your mouse cursor" class="codepen">
    <a href="https://codepen.io/mars/pen/dxFba/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="fojzu" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Rainbow octopus on canvas" class="codepen">
    <a href="https://codepen.io/mars/pen/fojzu/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="fxqKJ" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Canvas Lightning WIP" class="codepen">
    <a href="https://codepen.io/mars/pen/fxqKJ/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="mJdnw" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Constellation" class="codepen">
    <a href="https://codepen.io/mars/pen/mJdnw/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="JFmiK" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Canvas particles" class="codepen">
    <a href="https://codepen.io/mars/pen/JFmiK/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="ohFbx" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Abstract Canvas Visualization" class="codepen">
    <a href="https://codepen.io/mars/pen/ohFbx/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<p data-height="1000" data-theme-id="0" data-slug-hash="qEmZdJ" data-default-tab="result" data-user="mars" data-embed-version="2" data-pen-title="Beautiful Noise" class="codepen">
    <a href="https://codepen.io/mars/pen/qEmZdJ/"></a>
</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
